body
{
    background-color: #ffeee3;
    font-family:Merriweather;
}
a
{
    text-decoration: none;
}

.content
{
    margin: 35px 150px;
}

.bunga
{
    padding-top: 20px;
    padding-left: 50px;

}
.navbar
{
    display: flex;
    justify-content: left;
}
.menu
{
    display: flex;
}

#gallery p, #acara p
{
    color: #343830;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
}
.sampul
{
    display: flex;
    justify-content: center;
}
.fotosampul img
{
    width: 100%;
    max-width: 1000px;
    height: auto;
    

}

/* NAMA KELUARGA */
.keluarga
{
    padding: 50px 0;
    background-image: url("../images/frame.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.head, .satu, .dan, .dua
{
    display: flex;
    justify-content: center;
}
.head
{
    text-align: center;
    font-size: 16px;
    margin: 20px 100px;
    color: #343830;
    padding: 0px 50px;
    margin-bottom: 20px;
}

#fotosatu img, #fotodua img
{
    margin: 5px 10px;
    border-radius: 50%;
    border-color: #f4af9a ;
    border-style: double;
    border-width: 5px;
    box-shadow: 0 1px 10px gray ;
    width: 100%;
    height: auto;
    max-width: 250px;
    
}

#namasatu, #namadua
{
    font-family:'Parisienne' ;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    
}
#namasatu p , #namadua p
{
    margin: 0 20px;
    color: #343830;
    font-weight: bold;
}
#namasatu img, #namadua img
{
    margin-top: -20px;
    margin-bottom: -20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}
.duakeluarga
{
    text-align: right;
}
.satukeluarga , .duakeluarga
{
    margin: 0 50px;
    color: #343830
    
}
#keterangansatu , #keterangandua
{
    margin-top: 30px;
}
.dan{
    text-align:center; 
    font-family:Parisienne;
    font-size: 40px;
    font-weight: bolder;
    color: #343830;
}

/* PEMBERKATAN */

.rangkaian
{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}
.rangkaian p
{
    font-size: 15px;
    text-align: center;
    color: #343830;
}
.keteranganrangkaian
{
    display: flex;
    justify-content: center;
}
.fotorangkaian img{
    width: 300px;
    box-shadow: -5px -5px 5px gray;
}
.fotorangkaian
{
    padding: 10px 30px;

}

.pemberkatanjudul h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.pemberkatanjudul h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}
.tempat
{
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.tempat h1
{
    
    font-family:Parisienne;
    color: #343830;
    
}
.waktu
{
    display: flex;
    justify-content: center;
}

.haripemberkatan
{
    margin: 35px 15px;
    text-decoration: overline underline;
    text-decoration-color: #7f5923;
    color: #7f5923;
}
.jampemberkatan p
{
    margin: 33px 15px;
    text-decoration: overline underline;
    text-decoration-color: #7f5923;
    color: #7f5923;
    font-size: 20px;
}
.tanggalpemberkatan .bulan
{
    font-size: 13px;
    color: #7f5923;
    font-weight: bolder;
}

.tanggalpemberkatan .tanggal
{
    font-size: 50px;
    margin-top: -10px;
    color: #7f5923;
}

.tanggalpemberkatan .tahun
{
    font-size: 25px;
    margin-top: -10px;
    color: #7f5923;
}

.isi p
{
    color: #7f5923;
}
/* STREAMING */

.judulstreaming h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.judulstreaming h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}

.keteranganstreaming
{
    margin-top: 50PX;
    margin-bottom: 50PX;
    text-align: center;
    font-size: 15px;
    color: #343830;
}
.videostreaming img 
{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 20px 20px;
    
}
.videostreaming img:hover
{
    width: 100%;
    max-width: 730px;
    height: auto;
    opacity: 80%;
    
}
.videostreaming
{
    display: flex;
    justify-content: center;
}
/* GALLERY */
.gallery
{
    padding: 10px 100px;
}
.judulGallery h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
    
}
.judulGallery h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}


.btngallery
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btngallery a
{
    
    color: #343830;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: bold;
}
.open
{
    background-color: #f5bca7;
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.open :hover
{
    opacity: 80%;
}
.open :active
{
    opacity: 50%;
}

/* UCAPAN DAN DOA */
.judulucapan h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.judulucapan h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}
.keteranganucapan
{
    margin-top: 50PX;
    text-align: center;
    font-size: 15px;
    color: #343830;

}

.ucapan h2
{
    font-family:Parisienne;
    color: #343830;
    font-size: 30px;
}


.form form input[type=submit]
{
    background-color: #f4af9a;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px;
    width: 100px;
}
.form form input[type=text], .form form textarea
{
    
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
.form form textarea
{
    margin-bottom: 20px;
}

.kirimvideo p
{
    margin-top: 50PX;
    text-align: center;
    font-size: 15px;
    color: #343830;
}

.btnvideo
{
    display: flex;
    justify-content: center;
    
}
.btnvideo a
{
    text-align: center;
    padding:10px 0; 
    background:#f4af9a;
    color: #343830; 
    width: 300px;
    border-radius: 10px; 
}

.ayat, .penutup
{
    margin-top: 50PX;
    text-align: center;
    font-size: 12px;
    color: #343830;
}
.ayat #alkitab
{
    font-family:Parisienne;
    font-size: 20px;
    font-weight: bold;
    color: #7f5923;
}

@media(max-width:1050px)
{
    .content
    {
        margin: 20px 50px;
    }

    /* KELUARGA */
    .keluarga
    {
        padding: 20px 0;
        background-size: 650px 630px;
    }
    .head
    {
        font-size: 12px;
        margin: 20px 50px;
        padding: 0px 20px;
        margin-bottom: 20px;
    }

    #fotosatu img, #fotodua img
    {
        margin: 5px 10px;
        max-width: 150px;
        
    }

    #namasatu, #namadua
    {
        font-size: 25px;
        
    }
    #namasatu p , #namadua p
    {
        margin: 0 10px;
    }
    #namasatu img, #namadua img
    {
        margin-top: -20px;
        margin-bottom: -20px;
        max-width: 350px;
    }
  
    .satukeluarga , .duakeluarga
    {
        margin: 0 30px;
        color: #343830;
        font-size: 10px;
    }
    #keterangansatu , #keterangandua
    {
        margin-top: 30px;
    }
    .dan{
        font-size: 30px;
        
    }
    .dua
    {
        margin-bottom: 25px;
    }

    /* PEMBERKATAN */
    
    .rangkaian p
    {
        font-size: 13px;
    }
    .fotorangkaian img{
        width: 300px;
    }
    .fotorangkaian
    {
        padding: 10px 30px;

    }
    .pemberkatanjudul h1
    {
        
        font-size: 40px;
       
    }
    .tempat
    {
        padding: 10px 20px;
        
    }
    /* VIDEO STREAMING */
    
    .judulstreaming h1
    {
        font-size: 40px;
    }
    .keteranganstreaming
    {
        margin-top: 40PX;
        font-size: 13px;
    }
    /* GALLERY */
    
    .judulGallery h1
    {
        
        font-size: 40px;
        
    }

    /* UCAPAN DAN DOA */
    
    .judulucapan h1
    {
        font-size: 40px;
    }
    .keteranganucapan
    {
        font-size: 13px;
    }
    .ucapan h2
    {
        font-family:Parisienne;
        color: #343830;
        font-size: 25px;
    }
    .kirimvideo p
    {
        font-size: 13px;
    }

}



@media(max-width:670px)
{
    .content
    {
        margin: 10px 10px;
    }

    /* KELUARGA */
    .keluarga
    {
        padding: 10px 0;
        background-size: 290px 320px;
    }
    .head
    {
        font-size: 7px;
        margin: 10px 30px;
        padding: 0px 30px;
        margin-bottom: 0px;
    }

    #fotosatu img, #fotodua img
    {
        margin: 5px 0px;
        max-width: 80px;
        box-shadow: 0 1px 3px gray ;
        
    }

    #namasatu, #namadua
    {
        font-size: 12px;
        
    }
    #namasatu p , #namadua p
    {
        margin: 0 0px;
    }
    #namasatu img, #namadua img
    {
        margin-top: -20px;
        margin-bottom: -10px;
        max-width: 150px;
    }
  
    .satukeluarga , .duakeluarga
    {
        margin: 0 15px;
        color: #343830;
        font-size: 7px;
    }
    #keterangansatu , #keterangandua
    {
        margin-top: 15px;
    }
    .dan{
        font-size: 10px;
        
    }
    .dua
    {
        margin-bottom: 5px;
    }

    /* PEMBERKATAN */
    
    .rangkaian p
    {
        font-size: 7px;
    }
    .fotorangkaian img{
        width: 150px;
        box-shadow: -2px -2px 3px gray;
    }
    .fotorangkaian
    {
        padding: 10px 10px;

    }
    .pemberkatanjudul h1
    {
        
        font-size: 30px;
    }
    .tempat
    {
        padding: 10px 0px;
        
    }
    .tempat h1
    {
        font-size: 15px;
    }
    .haripemberkatan 
    {
        margin: 20px 5px;
        font-size: 7px;
    }
    .jampemberkatan p
    {
        margin: 19px 0px;
        font-size: 7px;
        margin-left: 5px;

    }
    .tanggalpemberkatan .bulan
    {
        font-size: 5px;
    }

    .tanggalpemberkatan .tanggal
    {
        font-size: 20px;
        margin-top: -2px;
    }

    .tanggalpemberkatan .tahun
    {
        font-size: 10px;
        margin-top: -2px;
        color: #7f5923;
    }

    /* VIDEO STREAMING */
    
    .judulstreaming h1
    {
        font-size: 20px;
    }
    .keteranganstreaming
    {
        margin-top: 20PX;
        font-size: 7px;
    }
    /* GALLERY */
    
    .judulGallery h1
    {
        
        font-size: 30px;
        
    }
    .btngallery
    {
        margin-top: 5px;
    }
    .btngallery a
    {
        font-size: 10px;
    }
    .open
    {
        padding: 10px;
    }

    /* UCAPAN DAN DOA */
    
    .judulucapan h1
    {
        font-size: 30px;
    }
    .keteranganucapan
    {
        margin-top: 3px;
        font-size: 7px;
    }
    .ucapan h2
    {
        font-size: 15px;
    }

    .form
    {
        font-size: 10px;
    }
    .form input[type=text]
    {
        width: 200px;
        height: 10px;
    }
    .form textarea
    {
        width: 200px;
        height: 30px;
    }
    .form form input[type=submit]
    {
        font-size: 10px;
        width: 70px;
        height: 40px;
    }
    .kirimvideo p
    {
        font-size: 7px;
    }
    .btnvideo a
    {
        font-size: 10px;
        width: 150px;
    }
    .ayat, .penutup
    {
        font-size: 7px;
    }
    .ayat #alkitab
    {
       
        font-size: 7px;
    }

}
