body
{
    background-color: #ffeee3;
    font-family:Merriweather;
}
a
{
    text-decoration: none;
}
.bunga
{
    padding-top: 20px;
    padding-left: 50px;

}
.navbar
{
    display: flex;
    justify-content: left;
}
.menu
{
    display: flex;
}

#gallery p, #acara p
{
    color: #343830;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
}
.sampul
{
    display: flex;
    justify-content: center;
}
.fotosampul img
{
    width: 100%;
    max-width: 1100px;
    height: auto;
    

}

/* NAMA KELUARGA */

.content
{
    margin: 35px 150px;
}
.keluarga
{
    padding: 50px 100px;
    background-image: url("../images/frame.png");
    background-size: 1050px 900px;

    background-repeat: no-repeat;
}
.head{
    text-align: center;
    font-size: 30px;
    margin-top: 30PX;
    color: #343830;
    padding: 0px 50px;
}
.head p{
    font-size: 18px;
    margin-bottom: 20px;
    
}
.satu
{
    display: flex;
    margin-top: 30px;
    margin-bottom: -30px;
}

#fotosatu img
{
    border-radius: 50%;
    border-color: #f4af9a ;
    border-style: double;
    margin-left: 20px;
    border-width: 5px;
    box-shadow: 0 1px 10px gray ;
    
}

#keterangansatu
{
    padding-left: 30px;
}
#namasatu, #namadua
{
    font-family:'Parisienne' ;
    font-size: 34px;
    font-weight: bolder;
    margin-top: -20px;
    margin-bottom: -30px;
    
}
#namasatu p
{
    color: #343830;
    margin-bottom: -20px;
    margin-left: 18px;
}
#namadua p
{
    margin-bottom: -20px;
    color: #343830;
    margin-right: 14px;
}

#putra, #bapaksatu, #ibusatu
{
    font-family: Merriweather;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 30px;
}

.dan{
    text-align:center; 
    font-family:Parisienne;
    font-size: 50px;
    font-weight: bold;
    color: #343830;
}

.dua
{
    display: flex;
    margin-top: -10px;
    justify-content: right;
    margin-bottom: 30px;
    padding-left: 20px;
}
#fotosatu img, #fotodua img
{
    border-radius: 50%;
    border-color: #f4af9a ;
    border-style: double;
    margin-right: 50px;
    border-width: 5px;
    box-shadow: 0 1px 10px gray ;
    
}

#keterangandua
{
    margin-right: 85px;
 
}
#putri, #bapakdua, #ibudua
{
    font-family: Merriweather;
    font-size: 15px;
    margin-top: 5px;
    padding-right: 30px;
}
div#keterangandua
{
  
    text-align: right;
}

/* PEMBERKATAN */

.rangkaian
{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}
.rangkaian p
{
    font-size: 15px;
    text-align: center;
}
.keteranganrangkaian
{
    display: flex;
    justify-content: center;
}
.fotorangkaian img{
    width: 300px;
    box-shadow: -5px -5px 5px gray;
}
.fotorangkaian
{
    padding: 10px 30px;

}

.pemberkatanjudul h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.pemberkatanjudul h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}
.tempat
{
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.tempat h1
{
    
    font-family:Parisienne;
    color: #343830;
    
}
.waktu
{
    display: flex;
    justify-content: center;
}

.haripemberkatan
{
    margin: 35px 15px;
    text-decoration: overline underline;
    text-decoration-color: #7f5923;
    color: #7f5923;
}
.jampemberkatan
{
    margin: 20px 15px;
    text-decoration: overline underline;
    text-decoration-color: #7f5923;
    color: #7f5923;
}
.tanggalpemberkatan .bulan
{
    font-size: 13px;
    color: #7f5923;
    font-weight: bolder;
}

.tanggalpemberkatan .tanggal
{
    font-size: 50px;
    margin-top: -10px;
    color: #7f5923;
}

.tanggalpemberkatan .tahun
{
    font-size: 25px;
    margin-top: -10px;
    color: #7f5923;
}

.isi p
{
    color: #7f5923;
}
/* STREAMING */

.judulstreaming h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.judulstreaming h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}

.keteranganstreaming
{
    margin-top: 50PX;
    text-align: center;
}
.videostreaming img 
{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 20px 20px;
    
}
.videostreaming img:hover
{
    width: 100%;
    max-width: 730px;
    height: auto;
    opacity: 80%;
    
}
.videostreaming
{
    display: flex;
    justify-content: center;
}
/* GALLERY */
.gallery
{
    padding: 10px 100px;
}
.judulGallery h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
    
}
.judulGallery h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}


.btngallery
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btngallery a
{
    
    color: #343830;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: bold;
}
.open
{
    background-color: #f5bca7;
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.open :hover
{
    opacity: 80%;
}
.open :active
{
    opacity: 50%;
}

/* UCAPAN DAN DOA */
.judulucapan h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.judulucapan h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}


@media(max-width:1050px)
{
    
    


}



@media(max-width:670px)
{
    

}
