body
{
    background-color: #ffeee3;
    font-family:Merriweather;
}
a
{
    text-decoration: none;
}

.content
{
    margin: 35px 150px;
}

.bunga
{
    padding-top: 20px;
    padding-left: 50px;

}
.navbar
{
    display: flex;
    justify-content: left;
}
.menu
{
    display: flex;
}

#gallery p, #acara p
{
    color: #343830;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
}
.sampul
{
    display: flex;
    justify-content: center;
}
.fotosampul img
{
    width: 100%;
    max-width: 1000px;
    height: auto;
    

}

/* NAMA KELUARGA */
.keluarga
{
    padding: 50px 0;
    background-image: url("../images/frame.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.head, .satu, .dan, .dua
{
    display: flex;
    justify-content: center;
}
.head
{
    text-align: center;
    font-size: 1.2vw;
    margin: 20px 100px;
    color: #343830;
    padding: 0px 50px;
    margin-bottom: 20px;
}

#fotosatu img, #fotodua img
{
    margin: 5px 10px;
    border-radius: 50%;
    border-color: #f4af9a ;
    border-style: double;
    border-width: 5px;
    box-shadow: 0 1px 10px gray ;
    width: 100%;
    height: auto;
    max-width: 250px;
    
}

#namasatu, #namadua
{
    font-family:'Parisienne' ;
    font-size: 2.5vw;
    font-weight: bolder;
    text-align: center;
    
}
#namasatu p , #namadua p
{
    margin: 0 20px;
    color: #343830;
    font-weight: bold;
}
#namasatu img, #namadua img
{
    margin-top: -20px;
    margin-bottom: -20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}
.duakeluarga
{
    text-align: right;
}
.satukeluarga , .duakeluarga
{
    margin: 0 50px;
    color: #343830
    
}
#keterangansatu , #keterangandua
{
    margin-top: 30px;
}
.dan{
    text-align:center; 
    font-family:Parisienne;
    font-size: 40px;
    font-weight: bolder;
    color: #343830;
}

/* PEMBERKATAN */
.pemberkatan p
{
    font-size: 1.2vw;
    color: #343830;
}
.rangkaian
{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}
.rangkaian p
{
    font-size: 15px;
    text-align: center;
}
.keteranganrangkaian
{
    display: flex;
    justify-content: center;
}
.fotorangkaian img{
    width: 300px;
    box-shadow: -5px -5px 5px gray;
}
.fotorangkaian
{
    padding: 10px 30px;

}

.pemberkatanjudul h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.pemberkatanjudul h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}
.tempat
{
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.tempat h1
{
    
    font-family:Parisienne;
    color: #343830;
    
}
.waktu
{
    display: flex;
    justify-content: center;
}

.haripemberkatan
{
    margin: 35px 15px;
    text-decoration: overline underline;
    text-decoration-color: #7f5923;
    color: #7f5923;
}
.jampemberkatan
{
    margin: 20px 15px;
    text-decoration: overline underline;
    text-decoration-color: #7f5923;
    color: #7f5923;
}
.tanggalpemberkatan .bulan
{
    font-size: 13px;
    color: #7f5923;
    font-weight: bolder;
}

.tanggalpemberkatan .tanggal
{
    font-size: 50px;
    margin-top: -10px;
    color: #7f5923;
}

.tanggalpemberkatan .tahun
{
    font-size: 25px;
    margin-top: -10px;
    color: #7f5923;
}

.isi p
{
    color: #7f5923;
}
/* STREAMING */

.judulstreaming h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.judulstreaming h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}

.keteranganstreaming
{
    margin-top: 50PX;
    text-align: center;
    font-size: 1.2vw;
    color: #343830;
}
.videostreaming img 
{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 20px 20px;
    
}
.videostreaming img:hover
{
    width: 100%;
    max-width: 730px;
    height: auto;
    opacity: 80%;
    
}
.videostreaming
{
    display: flex;
    justify-content: center;
}
/* GALLERY */
.gallery
{
    padding: 10px 100px;
}
.judulGallery h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
    
}
.judulGallery h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}


.btngallery
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btngallery a
{
    
    color: #343830;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: bold;
}
.open
{
    background-color: #f5bca7;
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.open :hover
{
    opacity: 80%;
}
.open :active
{
    opacity: 50%;
}

/* UCAPAN DAN DOA */
.judulucapan h1
{
    width: 100%; 
    text-align: center; 
    font-family:Parisienne;
    color: #343830;
    font-size: 50px;
    line-height: 0.1em;
    border-bottom: 3px solid #f4af9a; 
}
.judulucapan h1 span { 
    background:#ffeee3; 
    padding:0 10px; 
}




@media(max-width:1050px)
{
    
    


}



@media(max-width:670px)
{
    

}
