body
{
    background-color: #ffeee3;

}
a
{
    text-decoration: none;
}
#judul p 
{
    color: #f5bca7;
    font-family: Parisienne;
    font-weight: bold;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
#judul
{
    margin-bottom: -165px;
    margin-top: -50px;
}
#judul2
{
    display: flex;
    justify-content: center;
    margin-bottom: -100px;
    font-size: 40px;
}
#judul2 p
{
    
    font-family: Merriweather;
    color: #343830;
}

#gambar
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#gambar img
{
    width: 400px;
    height: auto;
    object-fit: cover;
}

.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a
{
    
    color: #343830;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: bold;
}
.open
{
    background-color: #f5bca7;
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.open :hover
{
    opacity: 80%;
}
.open :active
{
    opacity: 50%;
}

.count
{
    display: flex;
    justify-content: center;
}

.content
{
    padding-bottom: 50px;
}

@media(max-width:670px)
{
    #judul p
    {
        font-size: 40px;
        padding-top: 30px;
    }
    #judul2 p
    {
        font-size: 25px;
        margin-top: 95px;
    }
    #gambar img
    {
        width: 330px;
        height: auto;
    }
    .btn a
    {
        font-size: 15px;
    }
}


