body
{
    background-color: #ffeee3;

}
a
{
    text-decoration: none;
}
#judul p 
{
    color: #f5bca7;
    font-family: Parisienne;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#judul
{
    font-size: 70px;
    margin-bottom: -165px;
    margin-top: -50px;
}
#judul2
{
    display: flex;
    justify-content: center;
    margin-bottom: -100px;
    font-size: 40px;
}
#judul2 p
{
    
    font-family: Merriweather;
    color: #343830;
}

#gambar
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a
{
    
    color: #343830;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: bold;
}
.open
{
    background-color: #f5bca7;
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.open:hover
{

    box-shadow: 0 2px 10px #f4af9a;
}
.count
{
    display: flex;
    justify-content: center;
}
.count span
{
    font-size: 100px;
}


@media (max-width:670px) 
{
    
    #judul 
    {
        font-size: 50px;
        padding-bottom: 50px;
        margin-top: 3px;
    }
    #judul2
    {
        font-size: 30px;
    }
}

